@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/CormorantGaramond-Light.woff2') format('woff2'),
    url('./fonts/CormorantGaramond-Light.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./fonts/Montserrat-Regular.woff') format('woff');
}

*:not(head),*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px 50px;
}

.navigation ul {
    list-style-type: none;
}

/*Header*/

header {
    margin-bottom: 20px;
}

header a {
    color: black;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-left {
    width: 70%;
}

.header-top-left h1 {
font-family: 'Cormorant Garamond', serif;
font-size: 40px;
font-stretch: 100%;
font-style: normal;
font-weight: 300;
letter-spacing: 0.07em;
line-height: normal;
text-align: start;
}

.header-top-right {
    width: 20%;
}

.navigation-header {
    display: flex;
    justify-content: flex-end;
}

.navigation-header a {
    text-decoration-line: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    padding-left: 9%;
}

.navigation-header a:first-of-type {
    color: rgb(148, 61, 61);
}


.separator {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-left h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 19px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    }

.social {
    display: flex;
}

.social a {
    margin-left: 25px;
    color: black;
}


/*Main*/

main {
    margin-top: 30px;
}

.gallery {
    display: flex;
}

.flex-adaptive {
    display: flex;
    width: 50%;
}

.flex-adaptive:first-of-type {
    padding-right: 2.382%;
}

.gallery-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.gallery-column:first-of-type {
    padding-right: 5%;
}

.gallery-item {
    position: relative;
    margin-bottom: 9.91%;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000082;
    color: white;
    transition: 0.4s;
    opacity: 0;
    z-index: -1;
}

.gallery-item:hover .img-hover {
    z-index: 1;
    opacity: 1;
}

.img-hover span {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/*adaptive*/

@media screen and (max-width: 750px) {
    .flex-adaptive {
        flex-direction: column;
        padding-right: 0;
    }

    .flex-adaptive:first-of-type {
        padding-right: 4%;
    }

    .flex-adaptive .gallery-column {
        width: 100%;
        padding-right: 0;
    }

    .gallery-item {
        margin-bottom: 8%;
    }

}

@media screen and (max-width: 540px) {
    .navigation-header {
        flex-direction: column;
    }

    .navigation-header a {
        margin-bottom: 5%;
        margin-top: 4%;
        padding-left: 0;
    }
}

@media screen and (max-width: 450px) {
    .navigation-header a {
        padding-left: 0;
        margin-bottom: 7%;
        margin-top: 6%;
    }

    .social a:last-of-type {
        margin-right: 20px;
    }

    body {
        margin: 10px;
        margin-bottom: 20px;
    }

    header {
        margin-bottom: 20px;
    }

    main {
        margin-top: 0;
    }
}

/*Footer*/

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-left {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    vertical-align: baseline;
}